<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head') %>


<body>
  <%- include('../partials/header')  %>
  <div id="img-home-banner">
    <img src="/img/img-home-banner.jpg" alt="img-home-banner" />
  </div>

  <main class="main-products">
    <h3 id="subtitle1" class="titulares">Basado en tu última visita</h3>
    <section class="products">

      <% productos.forEach(producto => { %>
      <article class="recuadro">
        <a href="../products/<%= producto.id %>/detail">
        <img src="<%= producto.img %>" alt="" />
        
          
        </a>
        <div class="items1">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="items2">
          <p class="precios"><%= producto.price %></p>
          <p class="descuentos"><%= producto.discont%></p>
        </div>
        <h3><%= producto.title %></h3>
      </article>
      <% }) %>
      
    </section>
    <!-- --------------SESION DE OFERTAS------------------------------------ -->
    <h3 id="subtitle" class="titulares">Ofertas</h3>
    <section class="products">

      <% productos.forEach(producto => { %>
        <article class="recuadro">
          <a href="../products/<%= producto.id %>/detail">
          <img src="<%= producto.img %>" alt="" />
          
            
          </a>
          <div class="items1">
            <i class="fa-solid fa-truck"></i>
          </div>
          <div class="items2">
            <p class="precios"><%= producto.price %></p>
            <p class="descuentos"><%= producto.discont%></p>
          </div>
          <h3><%= producto.title %></h3>
        </article>
        <% }) %>
    </section>
  </main>
  <!-- ----------------------FOOTER------------------------------- -->
  <%- include('../partials/footer')  %>
</body>

</html>