<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <!-- <h1>Detalles del producto</h1> -->

      <h4 class="detail-title">
        <%= producto.title %>
      </h4>
      <img class="img-detail" src="<%= producto.img %>" />
      <div class="value">
        <p class="detail-price">
          <%= producto.price %>
        </p>
        <p class="detail-discont">
          <%= producto.discont%>
        </p>
      </div>
      <form action="/products/<%= producto.id %>/delete?_method=delete" method="post">
        <input class="btn-delete-detail" type="submit" value="Eliminar producto"></input>
      </form>
      <br>
      <a href="/products/<%= producto.id %>/update">
        <button class="btn-update-detail">Editar producto</button>
      </a>


      <%- include('../partials/footer') %>
  </body>

</html>